.qtd-quarto {
    height: 30px;
    cursor: pointer;
}

.qtd-quarto:hover {
    opacity: 0.5;
}

.botao-reserva {
    display: none;
    position: fixed;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 3px black solid;
    background-color: #facc04;
    z-index: 999;
    text-align: center;
    right: 350px;
    bottom: 150px;
}

#botao-click {
    position: relative;
    background-color: white;
    border-radius: 10px;
    border: black 2px solid;
    left: 27px;
    cursor: pointer;
}

#click {
    position: relative;
    width: 50px;
    top: 45px;
    right: 10px;
}

#botao-click:hover {
    opacity: 0.5;
    background-color: black;
}

#entrada {
    position: relative;
    top: 68px;
    left: 50px;
}

#saida {
    position: relative;
    bottom: 65px;
    left: 1150px;
}

#diariasTexto {
    margin-top: -10px;
    font-size: 15px;
}