.quartos-geral {
    position: relative;
    background-color: #005a67;
    width: 106%;
    right: 3%;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-bottom: 100px;
}

.quartos-geral h2 {
    font-size: 50px;
}

.card-quarto {
    background-color: white;
    display: flex;
    border: 5px #00879a solid;
    flex-flow: row wrap;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    margin-top: 20px;
}

.img-quarto {
    flex: 40%;
    border: 2px #00879a solid;
    text-align: center;
}

.img-quarto img {
    padding: 20px;
}

.quarto {
    flex: 60%;
    border: 2px #00879a solid;
    text-align: left;
    padding-left: 40px;
}

.quarto h2 {
    font-size: 30px;
    text-align: left;
}

.quarto img {
    width: 60px;
}

.quarto p {
    text-align: left;
}

.botao-reserva {
    position: relative;
    bottom: 30px;
    left: 490px;
    background-color: white;
    border: #00879a 4px solid;
    border-radius: 10px;
    width: auto;

}

.botao-reserva h2 {
    font-size: 20px;
}

.botao-reserva:hover {
    opacity: 0.5;
}

.click {
    position: relative;
    left: 450px;
    top: 20px;
}

.dados {
    position: relative;
    display: inline-block;
    background-color: #005a67;
    width: 106%;
    right: 3%;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-bottom: 100px;
}

.dados h2 {
    font-size: 50px;
}