 #reserva {
     text-align: center;
 }

 #reserva img {
     width: 95%;
 }

 #reserva:hover {
     opacity: 0.5;
 }

 .texto {
     max-width: 100%;
     text-align: center;
     padding-left: 15%;
     padding-right: 15%;
 }

 .texto li {
     font-size: 20px;
     text-align: center;
 }

 .texto address {
     text-align: center;
     color: gray;
 }

 .texto a {
     color: #00879a;
     text-decoration: none;
 }

 .texto a:hover {
     text-decoration: underline;
     opacity: 0.5;
 }

 .texto h2 {
     font-size: 30px;
 }

 /* INICIO CARDS */
 #cards {
     display: flex;
     position: relative;
     background-color: #005a67;
     width: 106%;
     flex-flow: row wrap;
     right: 3%;
     padding-bottom: 40px;
 }

 #hotel {
     font-size: 60px;
     flex: 100%;
 }

 .colunas-card {
     background-color: white;
     margin: 30px;
     text-align: center;
     flex: 1;
 }

 .colunas-card p {
     display: inline-block;
     width: 85%;
     text-align: center;
 }

 #cards a {
     text-decoration: none;
     color: #00879a;
 }

 #cards a:hover {
     text-decoration: underline;
     opacity: 0.5;
 }

 /* FIM CARDS */

 /* INICIO RODAPE */
 .rodape {
     display: flex;
     width: 100%;
     flex-flow: row wrap;
     margin-top: 30px;
 }

 .atalhos {
     flex: 33%;
     text-align: left;
 }

 .atalhos a {
     display: flex;
     padding-left: 150px;
     gap: 1px;
     color: #00879a;
     text-decoration: none;
 }

 .atalhos a:hover {
     text-decoration: underline;
     opacity: 0.5;
 }

 .informacoes {
     flex: 33%;
 }

 .redes {
     flex: 33%;
     text-align: center;
 }

 .redes img {
     width: 40px;
 }

 .redes img:hover {
     opacity: 0.5;
 }

 .ipisel {
     flex: 100%;
     text-align: center;
 }

 .ipisel img {
     width: 200px;
 }

 /* FIM RODAPE */