 * {
     box-sizing: border-box;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
     margin: 0px;
     border-left: #00879a 300px solid;
     border-right: #00879a 300px solid;
 }

 h1 {
     font-size: 50px;
     text-align: center;
 }

 h2 {
     font-size: 20px;
     text-align: center;
 }

 p {
     font-size: 20px;
     color: gray;
     text-align: center;
 }

 /* INICIO DO TOPO DO SITE E NAVEGAÇÃO*/
 .topo {
     display: flex;
     width: 100%;
     text-align: center;
     height: 200px;
     border-bottom: gray 2px solid;
     margin: 0px;
 }

 .logo-topo {
     padding-top: 20px;
     width: 100%;
 }

 .logo-topo a:hover {
     opacity: 0.5;
 }

 .logo-topo img {
     width: 80%;
 }

 .navegacao-dir {
     display: flex;
     width: 100%;
     gap: 0px;
     justify-content: center;
     padding-top: 130px;
 }

 .navegacao-dir a {
     width: 200px;
     color: #00879a;
     text-decoration: none;
 }

 .navegacao-dir a:hover {
     opacity: 0.5;
     text-decoration: underline;
 }

 .navegacao-esq {
     display: flex;
     width: 100%;
     gap: 0px;
     justify-content: center;
     padding-top: 130px;
 }

 .navegacao-esq a {
     width: 200px;
     color: #00879a;
     text-decoration: none;
 }

 .navegacao-esq a:hover {
     opacity: 0.5;
     text-decoration: underline;
 }

 /* FIM DO TOPO DO SITE E NAVEGAÇÃO */

 .sol {
     text-align: center;
 }

 .sol img {
     width: 40px;
 }

 /* INICIO DO GRUPO DE IMAGENS */
 #grupo-img {
     display: flex;
     position: relative;
     width: 106%;
     flex-flow: row wrap;
     right: 3%;
 }

 #grupo-img img {
     display: flex;
     width: 100%;
     height: 300px;
 }

 #grupo-img div {
     flex: 25%;
 }

 #back {
     background-color: white;
     text-align: left;
     color: #00879a;
     font-size: 20px;
 }

 #back h3 {
     position: relative;
     left: 20px;
 }

 #back a {
     position: relative;
     left: 20px;
     text-decoration: none;
     color: #00879a;
     text-align: center;
     font-size: 20px;
 }

 #back a:hover {
     text-decoration: underline;
     opacity: 0.5;
 }

 /* FIM DO GRUPO DE IMAGENS */