.dados {
    position: relative;
    display: inline-block;
    background-color: #005a67;
    width: 106%;
    right: 3%;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-bottom: 100px;
}

.dados h2 {
    font-size: 50px;
}