/* INICIO DO TOPO DO SITE E NAVEGAÇÃO*/
.topo {
    display: flex;
    width: 100%;
    text-align: center;
    height: 200px;
    border-bottom: gray 2px solid;
    margin: 0px;
}

.logo-topo {
    padding-top: 20px;
    width: 100%;
}

.logo-topo a:hover {
    opacity: 0.5;
}

.logo-topo img {
    width: 80%;
}

.navegacao-dir {
    display: flex;
    width: 100%;
    gap: 0px;
    justify-content: center;
    padding-top: 130px;
}

.navegacao-dir a {
    width: 200px;
    color: #00879a;
    text-decoration: none;
}

.navegacao-dir a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.navegacao-esq {
    display: flex;
    width: 100%;
    gap: 0px;
    justify-content: center;
    padding-top: 130px;
}

.navegacao-esq a {
    width: 200px;
    color: #00879a;
    text-decoration: none;
}

.navegacao-esq a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.btn-hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none;
    height: 35px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    position: relative;
    z-index: 999;
    top: 20px;
    left: 10px;
}

.btn-hamburger:hover {
    opacity: 0.5;
}

.btn-fechar:hover {
    opacity: 0.5;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 20px;
    transition: 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    background-color: #005a67;
    z-index: 1000;
}

.menu-mobile a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.menu-mobile a:hover {
    text-decoration: underline;
    opacity: 0.5;

}

.menu-mobile.ativo {
    left: 0;
}

.btn-fechar {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 900;
}

.overlay.ativo {
    opacity: 1;
    pointer-events: all;
}

/* FIM DO TOPO DO SITE E NAVEGAÇÃO */